{% extends "base_layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .blog_details ul {
        list-style-type: disc;
        padding-inline-start: 40px;
    }
    .blog_right_sidebar .newsletter_widget .form-control {
        height: 42px;
    }
  </style>
{% endblock %}
{% block breadcrumb %}
<h1>About Us</h1>
<nav class="d-flex align-items-center">
	<a href="#">About Moments<span class="lnr lnr-arrow-right"></span></a>
	<a href="contact">About Us</a>
</nav>
{% endblock %}
{% block content %}
 {{ super() }}
{% endblock %}

{% block body %}
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12 col-md-12 blog_details">
                            <h2>About Moments</h2>
                            <p class="excert">
                                <strong><i>We do not remember days, we remember moments</i></strong>
                            </p>
                            <p>
                                Moments Diamond was a Hong Kong based company founded in 1999. Besides this online sale store, we have an outlet in Tsim Sha Tsui, which provides direct services to our customers. We are not only a retailer, but also an importer, wholesaler and jewelry manufacturer. Thus, we can provide wide variety of services to customers.
                            </p>
                            <p>
                                As a diamond distributor, we have a large variety of diamond stocks offered to our customers. We believe that we can provide more options for customers to select the best-priced diamond with their requirement and budget. Also, we own a jewelry factory in Zhong Shan, which offers more than 20,000 mountings with elegant design. It is supporting us as one of the major gold mounting distributors in Hong Kong. Therefore, you can find most of the style, shape, size and quality jewelry with competitive price from our shop any time.
                            </p>
                            <p>
                                Diamond Collection’s staff appreciates to provide any professional recommendation and explanations to all of our valuable customers. So, we welcome you to contact us or come to our shop directly for any assistance. We will endeavor offer the best service for you.
                            </p>
                        </div>
                        <!--<div class="col-lg-12">
                            <img class="img-fluid" src="static/img/info/cut-scale.jpg" alt="">
                        </div>-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Like Us in Facebook</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="http://www.uixone.com/p/about-us.html" class="d-flex justify-content-between">
                                        <p>Sample</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="clarity" class="d-flex justify-content-between">
                                        <p>Clarity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="carat" class="d-flex justify-content-between">
                                        <p>Carat</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="cut" class="d-flex justify-content-between">
                                        <p>Cut</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Follow Us</h4>
                            <p>
                                Use your GIA report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="GIA Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'GIA Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Subscribe</h4>
                            <p>
                                Enter your email address to subscribe to this blog and receive notifications of new posts by email.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="Email Address"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                </div>
                                <a href="#" class="bbtns">Submit</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}