<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="DIA Diamond">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
	    <title>{% block title %}{% endblock %} - DIA DIAMOND</title>
		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', {
		  trackingId: '{{ config.GA_TRACKING_ID }}',
		  cookieDomain: 'auto'
		});
		ga('send', {
		  hitType: 'pageview'
		});
		</script>
		<!-- End Google Analytics -->
        {% assets "home_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    {% endblock %}
    </head>
    <body {% block bodyAttribute %}{% endblock %}>


    {% block Preloader %}

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!--<div id="preloader"></div>-->

    {% endblock %}
    {% block nav %}

   <!--/ Nav Star /-->
<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><img src="static/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item  {{ 'active' if 'home'==page  else ''}}"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item submenu dropdown {{ 'active' if 'category'==page or 'single-product'==page or 'checkout'==page or 'cart'==page or 'confirmation'==page  else ''}}">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="category">Shop Category</a></li>
									<li class="nav-item {{ 'active' if 'single-product'==page  else ''}}"><a class="nav-link" href="single-product">Diamond Details</a></li>
									<!--<li class="nav-item {{ 'active' if 'checkout'==page  else ''}}"><a class="nav-link" href="checkout">Product Checkout</a></li>
									<li class="nav-item {{ 'active' if 'cart'==page  else ''}}"><a class="nav-link" href="cart">Shopping Cart</a></li>
									<li class="nav-item {{ 'active' if 'confirmation'==page  else ''}}"><a class="nav-link" href="confirmation">Confirmation</a></li>-->
								</ul>
							</li>
							<!--<li class="nav-item submenu dropdown {{ 'active' if 'blog'==page or 'single-blog'==page  else ''}}">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item {{ 'active' if 'blog'==page  else ''}}"><a class="nav-link" href="blog">Blog</a></li>
									<li class="nav-item {{ 'active' if 'single-blog'==page  else ''}}"><a class="nav-link" href="single-blog">Blog Details</a></li>
								</ul>
							</li>-->
							<li class="nav-item submenu dropdown {{ 'active' if 'diamond-4cs'==page or 'carat'==page or 'clarity'==page or 'color'==page or 'cut'==page  else ''}}">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Education</a>
								<ul class="dropdown-menu">
									<li class="nav-item {{ 'active' if 'diamond-4cs'==page  else ''}}"><a class="nav-link" href="diamond-4cs">Diamond 4Cs</a></li>
									<li class="nav-item {{ 'active' if 'carat'==page  else ''}}"><a class="nav-link" href="carat">Carat</a></li>
									<li class="nav-item {{ 'active' if 'color'==page  else ''}}"><a class="nav-link" href="color">Color</a></li>
									<li class="nav-item {{ 'active' if 'clarity'==page  else ''}}"><a class="nav-link" href="clarity">Clarity</a></li>
									<li class="nav-item {{ 'active' if 'cut'==page  else ''}}"><a class="nav-link" href="cut">Cut</a></li>
								</ul>
							</li>
							<!--<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item {{ 'active' if 'login'==page  else ''}}"><a class="nav-link" href="login">Login</a></li>
									<li class="nav-item {{ 'active' if 'tracking'==page  else ''}}"><a class="nav-link" href="tracking">Tracking</a></li>
									<li class="nav-item {{ 'active' if 'elements'==page  else ''}}"><a class="nav-link" href="elements">Elements</a></li>
								</ul>
							</li>-->
							<li class="nav-item submenu dropdown {{ 'active' if 'about'==page or 'contact'==page or 'why-moments'==page  else ''}}">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">About Moments</a>
								<ul class="dropdown-menu">
									<li class="nav-item {{ 'active' if 'about'==page  else ''}}"><a class="nav-link" href="about">About Us</a></li>
									<li class="nav-item {{ 'active' if 'contact'==page  else ''}}"><a class="nav-link" href="contact">Contact Us</a></li>
									<li class="nav-item {{ 'active' if 'why-moments'==page  else ''}}"><a class="nav-link" href="why-moments">Why Moments</a></li>
								</ul>
							</li>
							{% if current_user.is_authenticated %}
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">{{ current_user.name }}</a>
								<ul class="dropdown-menu">l
									<li class="nav-item"><a class="nav-link" href='{{ url_for("logout") }}'>Logout</a></li>
								</ul>
							</li>
							{% else %}
							<li class="nav-item  {{ 'active' if 'login'==page  else ''}}"><a class="nav-link" href="/login">Login</a></li>
							{% endif %}
							<!--<li class="nav-item {{ 'active' if 'contact'==page  else ''}}"><a class="nav-link" href="contact">Contact</a></li>-->
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->
  <!--/ Nav End /-->
  {% endblock %}
{% block content %}
	<!-- start banner Area -->
	<section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
					{% block breadcrumb %}
                    <h1>Home</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home</a>
                    </nav>
					{% endblock %}
                </div>
            </div>
        </div>
    </section>
	<!-- End banner Area -->
{% endblock %}

{% block body %} {% endblock %}

  {% block footer %}
<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
							magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="static/img/i1.jpg" alt=""></li>
							<li><img src="static/img/i2.jpg" alt=""></li>
							<li><img src="static/img/i3.jpg" alt=""></li>
							<li><img src="static/img/i4.jpg" alt=""></li>
							<li><img src="static/img/i5.jpg" alt=""></li>
							<li><img src="static/img/i6.jpg" alt=""></li>
							<li><img src="static/img/i7.jpg" alt=""></li>
							<li><img src="static/img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
  {% endblock %}

{% block script %}
    {% assets "home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
    </body>
</html>
