{% extends "base_layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .blog_details ul {
        list-style-type: disc;
        padding-inline-start: 40px;
    }
    .blog_right_sidebar .newsletter_widget .form-control {
        height: 42px;
    }
  </style>
{% endblock %}
{% block breadcrumb %}
 <h1>Diamond Carat</h1>
<nav class="d-flex align-items-center">
	<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
	<a href="diamond-4cs">Diamond 4Cs<span class="lnr lnr-arrow-right"></span></a>
	<a href="carat">Diamond Carat</a>
</nav>
{% endblock %}
{% block content %}
 {{ super() }}
{% endblock %}

{% block body %}
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="static/img/info/carat.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 blog_details">
                            <h2>DIAMOND Carat</h2>
                            <p class="excert">
                                Diamond Carat Weight Measures a Diamond’s Apparent Size
                            </p>
                            <p>
                                Diamond carat weight is the measurement of how much a diamond weighs. A metric “carat” is defined as 200 milligrams.
                                Each carat can be subdivided into 100 ‘points.’ This allows very precise measurements to the hundredth decimal place. A jeweler may describe the weight of a diamond below one carat by its ‘points’ alone. For instance, the jeweler may refer to a diamond that weighs 0.25 carats as a ‘twenty-five pointer.’ Diamond weights greater than one carat are expressed in carats and decimals. A 1.08 carat stone would be described as ‘one point oh eight carats.’
                            </p>
                            <p>
                                All else being equal, diamond price increases with diamond carat weight because larger diamonds are more rare and more desirable. But two diamonds of equal carat weight can have very different values (and prices) depending on three other factors of the diamond 4Cs: Clarity, Color, and Cut.
                                It’s important to remember that a diamond’s value is determined using all of the 4Cs, not just carat weight.
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <img class="img-fluid" src="static/img/info/carat-scale.jpg" alt="">
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                Diamond images are for reference only and may vary based on screen size.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Diamond 4Cs</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="color" class="d-flex justify-content-between">
                                        <p>Color</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="clarity" class="d-flex justify-content-between">
                                        <p>Clarity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="carat" class="d-flex justify-content-between">
                                        <p>Carat</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="cut" class="d-flex justify-content-between">
                                        <p>Cut</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">GIA Report Check</h4>
                            <p>
                                Use your GIA report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="GIA Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'GIA Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">IGI Report Check</h4>
                            <p>
                                Use your IGI report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="IGI Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'IGI Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}