{% extends "base_layout.html" %}
{% block bodyAttribute %}id="category"{% endblock %}>
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .filter-bar .page-item.active .page-link {
		background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
		border-color: #007bff;
	}

	.main-nav-list-item.active {
		font-weight: bold;
	}

	.sidebar-filter .accordion-toggle:after {
		/* symbol for "opening" panels */
		font-family: 'FontAwesome';  /* essential for enabling glyphicon */
		content: "\f077";    /* adjust as needed, taken from bootstrap.css */
		float: right;        /* adjust as needed */
		color: grey;         /* adjust as needed */
	}
	.sidebar-filter .accordion-toggle.collapsed:after {
		/* symbol for "collapsed" panels */
		content: "\f078";    /* adjust as needed, taken from bootstrap.css */
	}

	.sidebar-categories .accordion-toggle:after {
		/* symbol for "opening" panels */
		font-family: 'FontAwesome';  /* essential for enabling glyphicon */
		content: "\f077";    /* adjust as needed, taken from bootstrap.css */
		float: right;        /* adjust as needed */
		color: grey;         /* adjust as needed */
	}
	.sidebar-categories .accordion-toggle.collapsed:after {
		/* symbol for "collapsed" panels */
		content: "\f078";    /* adjust as needed, taken from bootstrap.css */
	}

	a.collapse-link {
		color: white;
	}
  </style>
{% endblock %}
{% block breadcrumb %}
<h1>Shop Diamond</h1>
<nav class="d-flex align-items-center">
	<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
	<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
	<a href="category.html">Fashon Category</a>
</nav>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head"><a class="collapse-link accordion-toggle" data-toggle="collapse" href="#collapse1">Browse Moments</a></div>
					<ul id="collapse1" class="main-categories">
						<!--<li class="main-nav-list"><a data-toggle="collapse" href="#igiCategory" aria-expanded="false" aria-controls="igiCategory"><span
								 class="lnr lnr-arrow-right"></span>IGI Certificate<span class="number">(22)</span></a>
							<ul class="collapse" id="igiCategory" data-toggle="collapse" aria-expanded="false" aria-controls="igiCategory">
								<li class="main-nav-list child"><a href="#">Below 1 Carat<span class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">Above 1 Carat<span class="number">(09)</span></a></li>
							</ul>
						</li>

						<li class="main-nav-list"><a data-toggle="collapse" href="#giaCategory" aria-expanded="false" aria-controls="igiCategory"><span
								 class="lnr lnr-arrow-right"></span>GIA Certificate<span class="number">(22)</span></a>
							<ul class="collapse" id="giaCategory" data-toggle="collapse" aria-expanded="false" aria-controls="igiCategory">
								<li class="main-nav-list child"><a href="#">Below 1 Carat<span class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">Above 1 Carat<span class="number">(09)</span></a></li>
							</ul>
						</li>-->

						<li class="main-nav-list"><a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="princessCategory" class="main-nav-list-item active" data-category-name="Princess Moments"><span
								 class="lnr lnr-arrow-right"></span>Princess Moments<span class="number">({{princess_moments_count}})</span></a>
						</li>
						<!--<li class="main-nav-list"><a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="queenCategory" class="main-nav-list-item" data-category-name="Queen Moments"><span
								 class="lnr lnr-arrow-right"></span>Queen Moments<span class="number">({{queen_moments_count}})</span></a>
						</li>-->
						<li class="main-nav-list"><a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="allCategory" class="main-nav-list-item" data-category-name=""><span
								 class="lnr lnr-arrow-right"></span>All Moments<span class="number">({{all_moments_count}})</span></a>
						</li>
					</ul>
					<input type="hidden" id="category_name" name="category_name" value="Princess Moments" />
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head"><a class="collapse-link accordion-toggle" data-toggle="collapse" href="#collapse2">Diamond Filters</a></div>
					<div id="collapse2" class="">
						<div class="common-filter">
							<div class="head">Carat</div>
							<input type="text" id="carat" name="carat" value="" />
						</div>
						<div class="common-filter">
							<div class="head">Color</div>
							<input type="text" id="color" name="color" value="" />
						</div>
						<div class="common-filter">
							<div class="head">Clarity</div>
							<input type="text" id="clarity" name="clarity" value="" />
						</div>
						<div class="common-filter">
							<div class="head">Price</div>
							<input type="text" id="list_price" name="list_price" value="" />
						</div>
					</div>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head"><a class="collapse-link accordion-toggle" data-toggle="collapse" href="#collapse3">Advanced Filters</a></div>
					<div id="collapse3" class="">
						<div class="common-filter">
							<div class="head">Cut</div>
							<input type="text" id="cut" name="cut" value="" />
						</div>
						<div class="common-filter">
							<div class="head">Polish</div>
							<input type="text" id="polish" name="polish" value="" />
						</div>
						<div class="common-filter">
							<div class="head">Symmetry</div>
							<input type="text" id="symmetry" name="symmetry" value="" />
						</div>
						<div class="common-filter">
							<div class="head">Fluorescence</div>
							<input type="text" id="fluorescence" name="fluorescence" value="" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Nav pills -->
				Change View
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="fa fa-list nav-link active" data-toggle="tab" href="#tab-table1"></a>
					</li>
					<li class="nav-item">
						<a class="fa fa-columns nav-link" data-toggle="pill" href="#tab-table2"></a>
					</li>
				</ul>
				<br>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-table1">
						<div class="">
							<div class="col-lg-12">
								<table id="paginatedTable" class="table table-bordered table-responsive table-condensed table-hover">
									<thead class="thead-default">
									<tr>
										<th class="dt-head-center">Carat</th>
										<th class="dt-head-center">Color</th>
										<th class="dt-head-center">Clarity</th>
										<th class="dt-head-center">Cut</th>
										<th class="dt-head-center">List Price</th>
										<th class="dt-head-center">Market Price</th>
										<th class="col-vis-hide">Shape</th>
										<th class="dt-head-center">Polish</th>
										<th class="dt-head-center">Symmetry</th>
										<th class="dt-head-center">Fluorescence</th>
										<th class="dt-head-center">Lab</th>
										<th class="col-vis-hide">Measurement Length</th>
										<th class="col-vis-hide">Measurement Width</th>
										<th class="col-vis-hide">Measurement Depth</th>
										<th class="col-vis-hide">Table percent</th>
										<th class="col-vis-hide">Crown angle</th>
										<th class="col-vis-hide">Crown height percent</th>
										<th class="col-vis-hide">Pavilion angle</th>
										<th class="col-vis-hide">Pavilion depth precent</th>
										<th class="col-vis-hide">Gridle thick</th>
										<th class="col-vis-hide">Culet</th>
										<th class="col-vis-hide">Total depth percent</th>
										<th class="dt-head-center">Cert no</th>
									</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab-table2">
						<!-- Start Filter Bar -->
						<div class="controls">
							<div class="filter-bar d-flex flex-wrap align-items-center">
								<!-- pagination control -->
								<nav
										data-jplist-control="pagination"
										data-group="data-group-1"
										data-items-per-page="9"
										data-current-page="0"
										data-disabled-class="disabled"
										data-selected-class="active"
										data-name="pagination1">
									<!-- first and previous buttons -->
									<!--<div class="pagination">
                                <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                <a href="#">6</a>
                                <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>-->

									<ul class="pagination d-inline-flex">
										<li class="page-item" data-type="first"><a class="page-link" href="#">«</a>
										</li>
										<li class="page-item" data-type="prev"><a class="page-link" href="#">‹</a>
										</li>
									</ul>

									<!-- pages buttons -->
									<ul class="pagination d-inline-flex" data-type="pages">
										<li class="page-item" data-type="page"><a class="page-link" href="#">{pageNumber}</a>
										</li>
									</ul>

									<!-- next and last buttons -->
									<ul class="pagination d-inline-flex">
										<li class="page-item" data-type="next"><a class="page-link" href="#">›</a>
										</li>
										<li class="page-item" data-type="last"><a class="page-link" href="#">»</a>
										</li>
									</ul>

									<!-- items per page dropdown -->
									<!--<div class="dropdown d-inline-flex ml-3"
                                         data-type="items-per-page-dd"
                                         data-opened-class="show">
                                        <button
                                                data-type="panel"
                                                class="btn btn-primary dropdown-toggle"
                                                type="button">
                                            Dropdown button
                                        </button>
                                        <div
                                                data-type="content"
                                                class="dropdown-menu"
                                                aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" data-value="4">4 per page</a>
                                            <a class="dropdown-item" href="#" data-value="8">8 per page</a>
                                            <a class="dropdown-item" href="#" data-value="12">12 per page</a>
                                            <a class="dropdown-item" href="#" data-value="0">View All</a>
                                        </div>
                                    </div>-->
									<!-- information labels -->
									<span data-type="info" class="badge badge-secondary ml-3 p-2">
								Page {pageNumber} of {pagesNumber}
							</span>
									<select
											data-jplist-control="select-sort"
											data-group="data-group-1"
											data-name="sort"
											class="">
										<option
												value="1"
												data-path=".carat"
												data-order="asc"
												data-type="number"
										>Carat Asc
										</option>
										<option
												value="2"
												data-path=".carat"
												data-order="desc"
												data-type="number"
												selected>Carat Desc
										</option>
										<option
												value="3"
												data-path=".clarity"
												data-order="asc"
												data-type="text"
										>Clarity Asc
										</option>
										<option
												value="4"
												data-path=".clarity"
												data-order="desc"
												data-type="text"
												selected>Clarity Desc
										</option>
									</select>
								</nav>
							</div>
						</div>
						<!-- End Filter Bar -->
						<!-- Start Best Seller -->
						<section class="lattest-product-area pb-40 category-list">
							<div id="jplist-container" class="row" data-jplist-group="data-group-1">
								<div class="col text-center" data-jplist-control="no-results" data-group="group1"
									 data-name="no-results" style="display: none;">No Results Found
								</div>
							</div>
						</section>
					</div>
				</div>
		</div>
	</div>
<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for diamond in products[0:9] %}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="single-product"><img src="static/img/diamond-1.jpg" alt="" width="70px" height="70px"></a>
								<div class="desc">
									<a href="single-product?id={{diamond.id}}" class="title">{{ diamond.carat }} Carat {{ diamond.color }} Color {{ diamond.clarity}}</a>
									<div class="price">
										<h6>${{ "{:,.0f}".format(diamond.list_price)}}</h6>
										<h6 class="l-through">${{ "{:,.0f}".format(diamond.market_price)}}</h6>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="static/img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->
{% endblock %}
{% block script %}
  {{ super() }}
<script>
    $(document).ready(function() {
	jplist.init();
    function getClarityOptions(callback) {
		var options = [];
		$.ajax({
		    url : "clarity-options",
		    async : false,
		    type : "get",
		    success : function(response) {
				data = $.parseJSON(response);
				return callback(data);
		    },
		    error : function(jqXHR, textStatus, errorThrown) {
		    }

		});
	}

	function getCutOptions(callback) {
		var options = [];
		$.ajax({
		    url : "cut-options",
		    async : false,
		    type : "get",
		    success : function(response) {
				data = $.parseJSON(response);
				return callback(data);
		    },
		    error : function(jqXHR, textStatus, errorThrown) {
		    }

		});
	}

	function getPolishOptions(callback) {
		var options = [];
		$.ajax({
		    url : "polish-options",
		    async : false,
		    type : "get",
		    success : function(response) {
				data = $.parseJSON(response);
				return callback(data);
		    },
		    error : function(jqXHR, textStatus, errorThrown) {
		    }

		});
	}

	function getSymmetryOptions(callback) {
		var options = [];
		$.ajax({
		    url : "symmetry-options",
		    async : false,
		    type : "get",
		    success : function(response) {
				data = $.parseJSON(response);
				return callback(data);
		    },
		    error : function(jqXHR, textStatus, errorThrown) {
		    }

		});
	}

	function getFluorescenceOptions(callback) {
		var options = [];
		$.ajax({
		    url : "fluorescence-options",
		    async : false,
		    type : "get",
		    success : function(response) {
				data = $.parseJSON(response);
				return callback(data);
		    },
		    error : function(jqXHR, textStatus, errorThrown) {
		    }

		});
	}

	function getColorOptions(callback) {
		var options = [];
		$.ajax({
		    url : "color-options",
		    async : false,
		    type : "get",
		    success : function(response) {
				data = $.parseJSON(response);
				return callback(data);
		    },
		    error : function(jqXHR, textStatus, errorThrown) {
		    }

		});
	}

	function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	var isTriggerSearch = false;
	var datatable = $('#paginatedTable').on('xhr.dt', function (e, settings, json, xhr) {
        jplist.resetContent(function(){
			$('#jplist-container').empty();
			var noResultDiv = `<div class="col text-center" data-jplist-control="no-results" data-group="group1"
								 data-name="no-results" style="display: none;">No Results Found
							</div>`;
			$('#jplist-container').append(noResultDiv);
			});
			if (json != null) {
				$.each(json.data, function(index, diamond) {
					var item = `<div class="col-lg-4 col-md-6" data-jplist-item>
							<div class="single-product">
								<a href="/single-product" title="View More"><img class="img-fluid" src="static/img/diamond.jpg"alt=""></a>
								<div class="product-details">
									<h6>${diamond.carat} Carat ${diamond.color} Color ${diamond.clarity}</h6>
									<div class="price">
										<h6>$${numberWithCommas(diamond.list_price)}</h6>
										<h6 class="l-through">$${numberWithCommas(diamond.market_price)}</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">Wishlist</p>
										</a>
										<a href="diamond-compare" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">compare</p>
										</a>
										<a href="/single-product" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>
									</div>
								</div>
								<div style="display: none;">
									<div class="carat">${diamond.carat}</div>
									<div class="clarity">${diamond.clarity}</div>
								</div>
							</div>
						</div>`;
						//refresh jPList content
						jplist.resetContent(function(){
							//add element to the group
							$('#jplist-container').append(item);
						});
				} );
				jplist.refresh();
			}
    } ).DataTable( {
		"autoWidth": true,
        "ajax": {
            "url": "diamond-search",
            "data": function ( data ) {
            	data['carat'] = $("#carat").val();
            	data['clarity'] = $("#clarity").val();
            	data['color'] = $("#color").val();
            	data['list_price'] = $("#list_price").val();
            	data['carat'] = $("#carat").val();
            	data['category_name'] = $("#category_name").val();
            	data['cut'] = $("#cut").val();
            	data['polish'] = $("#polish").val();
            	data['symmetry'] = $("#symmetry").val();
            	data['fluorescence'] = $("#fluorescence").val();
            	data['is_trigger_search'] = isTriggerSearch;
         }},
         "drawCallback": function( settings ) {

		},
//          "dom": '<"top">RBfrt<"bottom"lip><"clear">',
//          "dom": '<RBfl<rt>ip>',
         dom: '<"H"<"clear"><"floatright"l><"floatright"f>>t<"F"rip>',
         "order": [[ 0, "asc" ],[ 1, "asc" ]],
         "columnDefs": [
        	{ className: "dt-body-center", "targets": "_all" },
            {
              "targets": 'col-vis-hide', "visible": false
            },
            {
             	"aTargets" : [ 4 ],
 				"mRender" : function(data, type, full) {
 					var link = $('<a></a>').attr('href','#').attr('data-href', "single-product?" +
						$.param({
							'id' : full.id
						})
					).attr(
						'ga-label', full.carat + ' Carat ' + full.color + ' ' + full.clarity + ' ' + full.cut + ' ' + full.cert_no
					).attr(
							'ga-category', 'Diamond'
					).attr('class', "popup_link").attr('title', "View Detail").append(formatCurrency(data)+'&nbsp;');
					var discount = (full.market_price - full.list_price) / full.market_price * 100;
					var badge = $('<span class="badge badge-pill"></span>').append('-'+discount.toFixed(2)+'%');
					if (discount >= 35) {
						$(badge).addClass("badge-danger")
					} else if (discount < 35 && discount > 20) {
						$(badge).addClass("badge-warning")
					} else {
						$(badge).addClass("badge-info")
					}
					return $("<div />").append(link).append(badge).html();
 				}
         	 },
            {
             	"aTargets" : [ 22 ],
 				"mRender" : function(data, type, full) {
 					https://igi.org/verify.php?r=341804630
 					if (full.lab == 'GIA') {
						var link = $('<a></a>').attr('href','#').attr('data-href', "https://www.gia.edu/report-check?" +
							$.param({
								'reportno' : data
							})
						).attr(
							'ga-label', full.cert_no
						).attr(
							'ga-category', 'Certificate'
						).attr('class', "popup_link").attr('title', "View Cert").append(data);
						return $("<div />").append(link).html();
 					} else if (full.lab == 'IGI') {
						var link = $('<a></a>').attr('href','#').attr('data-href', "https://igi.org/verify.php?" +
							$.param({
								'r' : data
							})
						).attr(
							'ga-label', full.cert_no
						).attr(
							'ga-category', 'Certificate'
						).attr('class', "popup_link").attr('title', "View Cert").append(data);
						return $("<div />").append(link).html();
 					} else {
 						return data;
 					}

 				}
         	 }
         ],
        "columns": [
        	{"data":"carat", "width":"30"}
			,{"data":"color", "width":"30"}
			,{"data":"clarity", "width":"30"}
			,{"data":"cut", "width":"80"}
			,{"data":"list_price", "width":"80"}
			,{"data":"market_price", render: $.fn.dataTable.render.number(',', '.', 0, '$'), "width":"80"}
			,{"data":"shape", "width":"80"}
			,{"data":"polish", "width":"80"}
			,{"data":"symmetry", "width":"80"}
			,{"data":"fluorescence", "width":"50"}
			,{"data":"lab", "width":"30"}
			,{"data":"measure_length", "width":"80"}
			,{"data":"measure_width", "width":"80"}
			,{"data":"measure_depth", "width":"80"}
			,{"data":"table_percent", "width":"80"}
			,{"data":"crown_angle", "width":"80"}
			,{"data":"crown_height_percent", "width":"80"}
			,{"data":"pavilion_angle", "width":"80"}
			,{"data":"pavilion_depth_precent", "width":"80"}
			,{"data":"gridle_thick", "width":"80"}
			,{"data":"culet", "width":"80"}
			,{"data":"total_depth_percent", "width":"80"}
			,{"data":"cert_no", "width":"80"}



                ]
	});

	getClarityOptions(function (options) {
		var clarityLabels = [];
		var clarityValues = [];
		$.each(options, function(index, value) {
			clarityLabels.push(value.clarity);
			clarityValues.push(value.ordering);
		});

		// be careful! FROM and TO should be index of values array
		var clarityFrom = clarityLabels.indexOf('VS1');
		var clarityTo = clarityLabels.indexOf('I1');
		$("#clarity").ionRangeSlider({
			type: "double",
			grid: true,
			from: clarityFrom,
			to: clarityTo,
			values: clarityValues,
			prettify: function (n) {
				var ind = clarityValues.indexOf(n);
				return clarityLabels[ind];
			},
			onChange: function(data) {
				datatable.ajax.reload();
			}
		});
	});

	getColorOptions(function (options) {
		var colorLabels = [];
		var colorValues = [];
		$.each(options, function(index, value) {
			colorLabels.push(value.color);
			colorValues.push(value.ordering);
		});

		// be careful! FROM and TO should be index of values array
		var colorFrom = colorLabels.indexOf('E');
    	var colorTo = colorLabels.indexOf('G');
		$("#color").ionRangeSlider({
			type: "double",
			grid: true,
			from: colorFrom,
			to: colorTo,
			values: colorValues,
			prettify: function (n) {
				var ind = colorValues.indexOf(n);
				return colorLabels[ind];
			},
			onChange: function(data) {
				datatable.ajax.reload();
			}
		});
	});


    $("#carat").ionRangeSlider({
        type: "double",
        grid: true,
        min: 0.5,
        max: 3,
        from: 0.8,
        to: 1.2,
        step: 0.1,
		onChange: function(data) {
			datatable.ajax.reload();
		}
    });

    $("#list_price").ionRangeSlider({
        type: "double",
        grid: true,
        min: 5000,
        max: 100000,
        from: 10000,
        to: 50000,
        step: 1000,
		onChange: function(data) {
			datatable.ajax.reload();
		}
    });

    getCutOptions(function (options) {
		var cutLabels = [];
		var cutValues = [];
		$.each(options, function(index, value) {
			cutLabels.push(value.cut);
			cutValues.push(value.ordering);
		});

		// be careful! FROM and TO should be index of values array
		var cutFrom = cutLabels.indexOf('EXCELLENT');
		var cutTo = cutLabels.indexOf('GOOD');
		$("#cut").ionRangeSlider({
			type: "double",
			grid: true,
			from: cutFrom,
			to: cutTo,
			values: cutValues,
			prettify: function (n) {
				var ind = cutValues.indexOf(n);
				return cutLabels[ind];
			},
			onChange: function(data) {
				datatable.ajax.reload();
			}
		});
	});

	getPolishOptions(function (options) {
		var polishLabels = [];
		var polishValues = [];
		$.each(options, function(index, value) {
			polishLabels.push(value.polish);
			polishValues.push(value.ordering);
		});

		// be careful! FROM and TO should be index of values array
		var polishFrom = polishLabels.indexOf('EXCELLENT');
		var polishTo = polishLabels.indexOf('GOOD');
		$("#polish").ionRangeSlider({
			type: "double",
			grid: true,
			from: polishFrom,
			to: polishTo,
			values: polishValues,
			prettify: function (n) {
				var ind = polishValues.indexOf(n);
				return polishLabels[ind];
			},
			onChange: function(data) {
				datatable.ajax.reload();
			}
		});
	});

	getSymmetryOptions(function (options) {
		var symmetryLabels = [];
		var symmetryValues = [];
		$.each(options, function(index, value) {
			symmetryLabels.push(value.symmetry);
			symmetryValues.push(value.ordering);
		});

		// be careful! FROM and TO should be index of values array
		var symmetryFrom = symmetryLabels.indexOf('EXCELLENT');
		var symmetryTo = symmetryLabels.indexOf('GOOD');
		$("#symmetry").ionRangeSlider({
			type: "double",
			grid: true,
			from: symmetryFrom,
			to: symmetryTo,
			values: symmetryValues,
			prettify: function (n) {
				var ind = symmetryValues.indexOf(n);
				return symmetryLabels[ind];
			},
			onChange: function(data) {
				datatable.ajax.reload();
			}
		});
	});

	getFluorescenceOptions(function (options) {
		var fluorescenceLabels = [];
		var fluorescenceValues = [];
		$.each(options, function(index, value) {
			fluorescenceLabels.push(value.fluorescence);
			fluorescenceValues.push(value.ordering);
		});

		// be careful! FROM and TO should be index of values array
		var fluorescenceFrom = fluorescenceLabels.indexOf('None');
		var fluorescenceTo = fluorescenceLabels.indexOf('Faint');
		$("#fluorescence").ionRangeSlider({
			type: "double",
			grid: true,
			from: fluorescenceFrom,
			to: fluorescenceTo,
			values: fluorescenceValues,
			prettify: function (n) {
				var ind = fluorescenceValues.indexOf(n);
				return fluorescenceLabels[ind];
			},
			onChange: function(data) {
				datatable.ajax.reload();
			}
		});
	});

	isTriggerSearch = true;
	datatable.ajax.reload();

	$("#paginatedTable").delegate("a.popup_link", "click", function(e) {
		e.preventDefault();
	    var url  = $(this).attr("data-href");

	    ga('send', {
		  hitType: 'event',
		  eventCategory: $(this).attr("ga-category"),
		  eventAction: 'View',
		  eventLabel: $(this).attr("ga-label"),
		  hitCallback: createFunctionWithTimeout(function() {
		    window.open(url, '_blank');
		  })
		});
	});
	
	$('body').on('click', 'a.main-nav-list-item', function(e){
		e.preventDefault();
		var category_name = $(this).attr('data-category-name');
		$('#category_name').val(category_name);
		datatable.ajax.reload();
		$('.main-nav-list-item').removeClass('active');
		$(this).closest('.main-nav-list-item').addClass('active');
	});

	$('#collapse3').toggleClass("collapse");
} );
  </script>
{% endblock %}