{% extends "base_layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .blog_details ul {
        list-style-type: disc;
        padding-inline-start: 40px;
    }
    .blog_right_sidebar .newsletter_widget .form-control {
        height: 42px;
    }
  </style>
{% endblock %}
{% block breadcrumb %}
 <h1>Diamond Clarity</h1>
<nav class="d-flex align-items-center">
	<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
	<a href="diamond-4cs">Diamond 4Cs<span class="lnr lnr-arrow-right"></span></a>
	<a href="clarity">Diamond Clarity</a>
</nav>
{% endblock %}
{% block content %}
 {{ super() }}
{% endblock %}

{% block body %}
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="static/img/info/clarity.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 blog_details">
                            <h2>DIAMOND CLARITY</h2>
                            <p class="excert">
                                Diamond Clarity Refers to the Absence of Inclusions and Blemishes
                            </p>
                            <p>
                                Natural diamonds are the result of carbon exposed to tremendous heat and pressure deep in the earth. This process can result in a variety of internal characteristics called ‘inclusions’ and external characteristics called ‘blemishes.’
                                Evaluating diamond clarity involves determining the number, size, relief, nature, and position of these characteristics, as well as how these affect the overall appearance of the stone. While no diamond is perfectly pure, the closer it comes, the higher its value.
                            </p>
                            <p>
                                The GIA Diamond Clarity Scale has 6 categories, some of which are divided, for a total of 11 specific grades.
                            </p>
                            <ul>
                                <li><strong>Flawless (FL)</strong> No inclusions and no blemishes visible under 10x magnification</li>
                                <li><strong>Flawless (FL)</strong> No inclusions visible under 10x magnification</li>
                                <li><strong>Very, Very Slightly Included (VVS1 and VVS2)</strong> Inclusions so slight they are difficult for a skilled grader to see under 10x magnification</li>
                                <li><strong>Very Slightly Included (VS1 and VS2)</strong> Inclusions are observed with effort under 10x magnification, but can be characterized as minor</li>
                                <li><strong>Slightly Included (SI1 and SI2)</strong> Inclusions are noticeable under 10x magnification</li>
                                <li><strong>Included (I1, I2, and I3)</strong> Inclusions are obvious under 10x magnification which may affect transparency and brilliance</li>
                            </ul>
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                Many inclusions and blemishes are too tiny to be seen by anyone other than a trained diamond grader. To the naked eye, a VS1 and an SI2 diamond may look exactly the same, but these diamonds are quite different in terms of overall quality.
                                This is why expert and accurate assessment of diamond clarity is extremely important.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Diamond 4Cs</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="color" class="d-flex justify-content-between">
                                        <p>Color</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="clarity" class="d-flex justify-content-between">
                                        <p>Clarity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="carat" class="d-flex justify-content-between">
                                        <p>Carat</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="cut" class="d-flex justify-content-between">
                                        <p>Cut</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">GIA Report Check</h4>
                            <p>
                                Use your GIA report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="GIA Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'GIA Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">IGI Report Check</h4>
                            <p>
                                Use your IGI report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="IGI Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'IGI Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}