{% extends "base_layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .blog_details ul {
        list-style-type: disc;
        padding-inline-start: 40px;
    }
    .blog_right_sidebar .newsletter_widget .form-control {
        height: 42px;
    }
  </style>
{% endblock %}
{% block breadcrumb %}
 <h1>Diamond Color</h1>
<nav class="d-flex align-items-center">
	<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
	<a href="diamond-4cs">Diamond 4Cs<span class="lnr lnr-arrow-right"></span></a>
	<a href="color">Diamond Color</a>
</nav>
{% endblock %}
{% block content %}
 {{ super() }}
{% endblock %}

{% block body %}
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="static/img/info/color.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 blog_details">
                            <h2>DIAMOND Color</h2>
                            <p class="excert">
                                Diamond Color Actually Means Lack of Color
                            </p>
                            <p>
                                The diamond color evaluation of most gem-quality diamonds is based on the absence of color. A chemically pure and structurally perfect diamond has no hue, like a drop of pure water, and consequently, a higher value. GIA’s D-to-Z diamond color-grading system measures the degree of colorlessness by comparing a stone under controlled lighting and precise viewing conditions to masterstones of established color value.
                                Many of these diamond color distinctions are so subtle that they are invisible to the untrained eye; however, these distinctions make a very big difference in diamond quality and price.
                            </p>
                            <p>
                                Many of these diamond color distinctions are so subtle that they are invisible to the untrained eye; however, these distinctions make a very big difference in diamond quality and price.
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <img class="img-fluid" src="static/img/info/color-scale.jpg" alt="">
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                Ranging in color from colorless (D-F) to light yellow (S-Z), the diamond color grading scale above can be used to help guide you during the diamond buying process.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Diamond 4Cs</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="color" class="d-flex justify-content-between">
                                        <p>Color</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="clarity" class="d-flex justify-content-between">
                                        <p>Clarity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="carat" class="d-flex justify-content-between">
                                        <p>Carat</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="cut" class="d-flex justify-content-between">
                                        <p>Cut</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">GIA Report Check</h4>
                            <p>
                                Use your GIA report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="GIA Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'GIA Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">IGI Report Check</h4>
                            <p>
                                Use your IGI report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="IGI Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'IGI Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}