{% extends "base_layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .blog_details ul {
        list-style-type: disc;
        padding-inline-start: 40px;
    }
    .blog_right_sidebar .newsletter_widget .form-control {
        height: 42px;
    }
  </style>
{% endblock %}
{% block breadcrumb %}
 <h1>Diamond Cut</h1>
<nav class="d-flex align-items-center">
	<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
	<a href="diamond-4cs">Diamond 4Cs<span class="lnr lnr-arrow-right"></span></a>
	<a href="cut">Diamond Cut</a>
</nav>
{% endblock %}
{% block content %}
 {{ super() }}
{% endblock %}

{% block body %}
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="static/img/info/cut.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 blog_details">
                            <h2>DIAMOND Color</h2>
                            <p class="excert">
                                Diamond Color Actually Means Lack of Color
                            </p>
                            <p>
                                Diamonds are renowned for their ability to transmit light and sparkle so intensely. We often think of a diamond’s cut as shape (round, heart, oval, marquise, pear), but a diamond’s cut grade is really about how well a diamond’s facets interact with light.
                            </p>
                            <p>
                                Precise artistry and workmanship are required to fashion a stone so its proportions, symmetry and polish deliver the magnificent return of light only possible in a diamond.
                            </p>
                            <p>
                                A diamond’s cut is crucial to the stone’s final beauty and value. And of all the diamond 4Cs, it is the most complex and technically difficult to analyze.
                            </p>
                            <p>
                                To determine the cut grade of the standard round brilliant diamond – the shape that dominates the majority of diamond jewelry – GIA calculates the proportions of those facets that influence the diamond’s face-up appearance. These proportions allow GIA to evaluate how successfully a diamond interacts with light to create desirable visual effects such as:
                            </p>
                            <ul>
                                <li><strong>Brightness</strong> Internal and external white light reflected from a diamond</li>
                                <li><strong>Fire</strong> The scattering of white light into all the colors of the rainbow</li>
                                <li><strong>Scintillation</strong> The amount of sparkle a diamond produces, and the pattern of light and dark areas caused by reflections within the diamond</li>
                            </ul>
                        </div>
                        <div class="col-lg-12">
                            <img class="img-fluid" src="static/img/info/cut-scale.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Diamond 4Cs</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="color" class="d-flex justify-content-between">
                                        <p>Color</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="clarity" class="d-flex justify-content-between">
                                        <p>Clarity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="carat" class="d-flex justify-content-between">
                                        <p>Carat</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="cut" class="d-flex justify-content-between">
                                        <p>Cut</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">GIA Report Check</h4>
                            <p>
                                Use your GIA report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="GIA Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'GIA Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">IGI Report Check</h4>
                            <p>
                                Use your IGI report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="IGI Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'IGI Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}