{% extends "base_layout.html" %}
{% block bodyAttribute %}id="category"{% endblock %}>
{% block title %}Index{% endblock %}
{% block head %}
	<link rel="stylesheet" href="static/libs/products-comparison-table-master/css/reset.css" />
  {{ super() }}
  <style type="text/css">
    .cd-features-list li {
		line-height: 14px;
		/*white-space: nowrap;*/
		text-overflow: ellipsis;
	}

	@media only screen and (min-width: 1170px) {
  .cd-features-list li {
		line-height: 16px;
		/*white-space: nowrap;*/
		text-overflow: ellipsis;
	}
}
  </style>
{% endblock %}木
{% block breadcrumb %}
<h1>Compare Diamond</h1>
<nav class="d-flex align-items-center">
	<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
	<a href="category">Shop<span class="lnr lnr-arrow-right"></span></a>
	<a href="#">Compare Diamond</a>
</nav>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<!--<section class="cd-intro">
				<h1>Products Comparison Table</h1>
			</section>--> <!-- .cd-intro -->

			<section class="cd-products-comparison-table">
				<header>
					<h2>Compare Models</h2>

					<div class="actions">
						<a href="#0" class="reset">Reset</a>
						<a href="#0" class="filter">Filter</a>
					</div>
				</header>

				<div class="cd-products-table">
					<div class="features">
						<div class="top-info">Models</div>
						<ul class="cd-features-list">
							<li>Carat</li>
							<li>Color</li>
							<li>Clarity</li>
							<li>Cut</li>
							<li>Shape</li>
							<li>Polish</li>
							<li>Symmetry</li>
							<li>Fluorescence</li>
							<li>Lab</li>
							<li>Measurement Length</li>
							<li>Measurement Width</li>
							<li>Measurement Depth</li>
							<li>Table percent</li>
							<li>Crown angle</li>
							<li>Crown height percent</li>
							<li>Pavilion angle</li>
							<li>Pavilion depth precent</li>
							<li>Gridle thick</li>
							<li>Culet</li>
							<li>Total depth percent</li>
							<li>Cert no</li>
							<li>Unit Price</li>
							<li>Supplier</li>
						</ul>
					</div> <!-- .features -->

					<div class="cd-products-wrapper">
						<ul class="cd-products-columns">
							{% for diamond in products[0:5] %}
							<li class="product">
								<div class="top-info">
									<div class="check"></div>
									<img src="static/libs/products-comparison-table-master/img/product.png"
										 alt="product image">
									<h3>{{ diamond.carat }} Carat {{ diamond.color }} Color</h3>
								</div> <!-- .top-info -->

								<ul class="cd-features-list">
									<li>{{diamond.carat}}</li>
									<li>{{diamond.color}}</li>
									<li>{{diamond.clarity}}</li>
									<li>{{diamond.cut}}</li>
									<li>{{diamond.shape}}</li>
									<li>{{diamond.polish}}</li>
									<li>{{diamond.symmetry}}</li>
									<li>{{diamond.fluorescence}}</li>
									<li>{{diamond.lab}}</li>
									<li>{{diamond.measure_length}}</li>
									<li>{{diamond.measure_width}}</li>
									<li>{{diamond.measure_depth}}</li>
									<li>{{diamond.table_percent}}</li>
									<li>{{diamond.crown_angle}}</li>
									<li>{{diamond.crown_height_percent}}</li>
									<li>{{diamond.pavilion_angle}}</li>
									<li>{{diamond.pavilion_depth_precent}}</li>
									<li>{{diamond.gridle_thick}}</li>
									<li>{{diamond.culet}}</li>
									<li>{{diamond.total_depth_percent}}</li>
									<li>{{diamond.cert_no}}</li>
									<li>{{diamond.list_price}}</li>
									<li>{{diamond.supplier_id}}</li>


								</ul>
							</li> <!-- .product -->
							{% endfor %}
						</ul> <!-- .cd-products-columns -->
					</div> <!-- .cd-products-wrapper -->

					<ul class="cd-table-navigation">
						<li><a href="#0" class="prev inactive">Prev</a></li>
						<li><a href="#0" class="next">Next</a></li>
					</ul>
				</div> <!-- .cd-products-table -->
			</section> <!-- .cd-products-comparison-table -->
		</div>
	</div>
</div>
{% endblock %}