{% extends "base_layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }

	.dt-heading {
		font-size: 15px;
		padding-bottom: 10px;
	}
    .s_product_text h2 {
    	display: inline-block;
    	padding-right: 15px;
    }

    .s_product_text h3.l-through {
    font-size: 24px;
    text-decoration: line-through;
    color: #cccccc;
    margin-bottom: 0;
    display: inline-block;
	}

	.circular {
  width: 70px;
  height: 71px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.media-body{
	padding-left: 10px;
}

.s_product_text .list li span {
    width: 90px;
    display: inline-block;
}

  </style>
{% endblock %}
{% block breadcrumb %}
 <h1>Diamond Detail</h1>
<nav class="d-flex align-items-center">
	<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
	<a href="category">Category<span class="lnr lnr-arrow-right"></span></a>
	<a href="single-product.html">Diamond Detail</a>
</nav>
{% endblock %}

{% block body %}
	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-3">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="static/img/diamond.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="static/img/diamond.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="static/img/diamond.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-8 offset-lg-1">
					<div class="s_product_text">
						<h3>{{ diamond.carat }} Carat {{ diamond.color }} Color {{ diamond.clarity }}</h3>
						<h2>${{ "{:,.0f}".format(diamond.list_price) }}</h2>
						<h3 id="marketPrice" class="l-through">${{ "{:,.0f}".format(diamond.market_price) }}&nbsp;</h3>
						<ul class="list">
							<li><a class="active" href="#"><span>Moments</span> : {{ diamond.category_name }}</a></li>
							<li><span>Lab</span> : {{diamond.lab}}</li>
							<li><span>Report No.</span> : {{diamond.cert_no}}</li>
							<li><span>Location</span> : {{diamond.location}}</li>
							<li><span>Availability</span> : {{diamond.status}}</li>
						</ul>
						<p>A {{diamond.color_type}} {{diamond.carat}} carat round diamond with a {{diamond.cut}} cutting and {{diamond.clarity_desc}}</p>
						<!--<dl class="row">
								<dt class="col-sm-12 dt-heading">Diamond Detail</dt>
								<dt class="col-sm-3">Polish</dt>
								<dd class="col-sm-3">{{ diamond.polish }}</dd>
								<dt class="col-sm-3">Symmetry</dt>
								<dd class="col-sm-3">{{ diamond.symmetry }}</dd>
								<dt class="col-sm-3">Fluorescence</dt>
								<dd class="col-sm-3">{{ diamond.fluorescence }}</dd>
								<dt class="col-sm-3">Culet</dt>
								<dd class="col-sm-3">{{ diamond.culet }}</dd>
								<dt class="col-sm-3">Measurements</dt>
								<dd class="col-sm-3">{{ diamond.measure_length }}mm x {{ diamond.measure_width }}mm x {{ diamond.measure_depth }}mm</dd>
								<dt class="col-sm-3">Table %</dt>
								<dd class="col-sm-3">{{ diamond.table_percent }}</dd>
								<dt class="col-sm-3">Depth %</dt>
								<dd class="col-sm-3">{{ diamond.total_depth_percent }}</dd>
							</dl>-->
						<!--<div class="product_count">
							<label for="qty">Quantity:</label>
							<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value&#45;&#45;;return false;"
							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
						</div>-->
						<div class="card_area d-flex align-items-center">
							<a class="primary-btn" href="#">Reserve</a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Specification</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="certificate-tab" data-toggle="tab" href="#certificate" role="tab" aria-controls="certificate"
					 aria-selected="false">Certificate</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Reviews</a>
				</li>-->
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="card-group">
						<div class="card">
							<img class="card-img-top" src="static/img/diamond/carat-size.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Diamond Carat Weight: {{diamond.carat}} ct</h5>
								<p class="card-text">Carat is the measure of a diamond's weight. It's also related to size, though it's not the only factor that determines how large your diamond looks. Depending on shape, weight distribution and cut quality, two diamonds with the same carat weight can be different sizes. </p>
								<a href="carat" class="genric-btn primary-border radius">More About Carat</a>
							</div>
						</div>
						<div class="card">
							<img class="card-img-top" src="static/img/diamond/diamon-color-chart-1.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Diamond Color: {{diamond.color}}</h5>
								<p class="card-text">Colorless. Appears completely white under 10 times magnification and pairs well with platinum, palladium, and white gold.</p>
								<a href="color" class="genric-btn primary-border radius">More About Color</a>
							</div>
						</div>
						<div class="card">
							<img class="card-img-top" src="static/img/diamond/diamond-clarity.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Diamond Clarity: {{diamond.clarity}}</h5>
								<p class="card-text">{{diamond.clarity_type}}.</p>
								<p class="card-text">{{diamond.clarity_desc}}</p>
								<a href="clarity" class="genric-btn primary-border radius">More About Clarity</a>
							</div>
						</div>
						<div class="card">
							<img class="card-img-top" src="static/img/diamond/james-allen-diamond-cuts2.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Diamond Cut: {{diamond.cut}}</h5>
								<p class="card-text">{{diamond.cut_desc}}</p>
								<a href="cut" class="genric-btn primary-border radius">More About Cut</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="row">
						<div class="col-sm-6">
							<dl class="row">
								<dt class="col-sm-12 dt-heading">Diamond Detail</dt>
								<dt class="col-sm-3">Color</dt>
								<dd class="col-sm-3">{{ diamond.color }}</dd>
								<dt class="col-sm-3">Carat</dt>
								<dd class="col-sm-3">{{ diamond.carat }}</dd>
								<dt class="col-sm-3">Clarity</dt>
								<dd class="col-sm-3">{{ diamond.clarity }}</dd>
								<dt class="col-sm-3">Cut</dt>
								<dd class="col-sm-3">{{ diamond.cut }}</dd>
								<dt class="col-sm-3">Shade</dt>
								<dd class="col-sm-3">{{ diamond.shade }}</dd>
								<dt class="col-sm-3">Polish</dt>
								<dd class="col-sm-3">{{ diamond.polish }}</dd>
								<dt class="col-sm-3">Symmetry</dt>
								<dd class="col-sm-3">{{ diamond.symmetry }}</dd>
								<dt class="col-sm-3">Fluorescence</dt>
								<dd class="col-sm-3">{{ diamond.fluorescence }}</dd>
								<dt class="col-sm-3">Lab</dt>
								<dd class="col-sm-3">{{ diamond.lab }}</dd>
								<dt class="col-sm-3">Report No</dt>
								<dd class="col-sm-3">{{ diamond.cert_no }}</dd>
								<dt class="col-sm-3">Price</dt>
								<dd class="col-sm-3">${{ "{:,.0f}".format(diamond.list_price) }}</dd>
								<dt class="col-sm-3">Eye Clean</dt>
								<dd class="col-sm-3">{{ diamond.eyeClean }}</dd>
							</dl>
						</div>
						<div class="col-sm-6">
							<dl class="row">
								<dt class="col-sm-12 dt-heading">Measurement Detail</dt>
								<dt class="col-sm-3">Length</dt>
								<dd class="col-sm-3">{{ diamond.measure_length }}</dd>
								<dt class="col-sm-3">Width</dt>
								<dd class="col-sm-3">{{ diamond.measure_width }}</dd>
								<dt class="col-sm-3">Depth</dt>
								<dd class="col-sm-3">{{ diamond.measure_depth }}</dd>
								<dt class="col-sm-3">Table %</dt>
								<dd class="col-sm-3">{{ diamond.table_percent }}</dd>
								<dt class="col-sm-3">Crown/Height %</dt>
								<dd class="col-sm-3">{{ diamond.crown_height_percent }}</dd>
								<dt class="col-sm-3">Crown Angle</dt>
								<dd class="col-sm-3">{{ diamond.crown_angle }}</dd>
								<dt class="col-sm-3">Pavilion Angle</dt>
								<dd class="col-sm-3">{{ diamond.pavilion_angle }}</dd>
								<dt class="col-sm-3">Pavilion Depth %</dt>
								<dd class="col-sm-3">{{ diamond.pavilion_depth_precent }}</dd>
								<dt class="col-sm-3">Gridle Thick</dt>
								<dd class="col-sm-3">{{ diamond.gridle_thick }}</dd>
								<dt class="col-sm-3">Culet</dt>
								<dd class="col-sm-3">{{ diamond.culet }}</dd>
								<dt class="col-sm-3">Total Depth %</dt>
								<dd class="col-sm-3">{{ diamond.total_depth_percent }}</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="certificate" role="tabpanel" aria-labelledby="certificate-tab">
					<div class="row">
						<div class="col-lg-12">
							<object data="static\document\certificate\gia-cert.pdf" type="application/pdf" width="100%" height="800px">
							  <p>It appears you don't have a PDF plugin for this browser. You can <a href="resume.pdf">click here to download the PDF file.</a></p>
							</object>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="row total_rate">
								<div class="col-6">
									<div class="box_total">
										<h5>Overall</h5>
										<h4>{{ "{:.2f}".format(diamond.overall_score)}}</h4>
										<h6>(4C)</h6>
									</div>
								</div>
								<div class="col-6">
									<div class="rating_list">
										<h3>Based on 4 Reviews</h3>
										<ul class="list">
											<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="review_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex circular" >
											<img src="static/img/review-carat.png" alt="">
										</div>
										<div id="caratRating" class="media-body">
											<h4>{{diamond.carat}} Carat</h4>
										</div>
									</div>
									<p>{{diamond.carat}}</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex circular">
											<img src="static/img/review-color.jpg" alt="">
										</div>
										<div id="colorRating" class="media-body">
											<h4>{{diamond.color}} Color</h4>
										</div>
									</div>
									<p>{{diamond.color_desc}}</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex circular">
											<img src="static/img/review-clarity.png" alt="">
										</div>
										<div id="clarityRating" class="media-body">
											<h4>{{diamond.clarity}}</h4>
										</div>
									</div>
									<p>{{diamond.clarity_desc}}</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex circular">
											<img src="static/img/review-cut.jpg" alt="">
										</div>
										<div id="cutRating" class="media-body">
											<h4>{{diamond.cut}} Cut, {{diamond.polish}} Polish, {{diamond.symmetry}} Symmetry</h4>
										</div>
									</div>
									<p>{{diamond.cut_desc}}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Add a Review</h4>
								<p>Your Rating:</p>
								<ul class="list">
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
								<p>Outstanding</p>
								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="primary-btn">Submit Now</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for diamond in recommend_diamond_list %}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="single-product"><img src="static/img/diamond-1.jpg" alt="" width="70px" height="70px"></a>
								<div class="desc">
									<a href="single-product?id={{diamond.id}}" class="title">{{ diamond.carat }} Carat {{ diamond.color }} Color {{ diamond.clarity}}</a>
									<div class="price">
										<h6>${{ "{:,.0f}".format(diamond.list_price)}}</h6>
										<h6 class="l-through">${{ "{:,.0f}".format(diamond.market_price)}}</h6>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="static/img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->
{% endblock %}

{% block script %}
  {{ super() }}
<script>
	calculate('{{diamond.carat_score}}',$('#caratRating'));
	calculate('{{diamond.color_score}}',$('#colorRating'));
	calculate('{{diamond.clarity_score}}',$('#clarityRating'));
	calculate('{{diamond.cutting_score}}',$('#cutRating'));

	function calculate(ratingValue, target) {
		var rounded = (ratingValue | 0);
		for (var j = 0; j < 5; j++) {
		  var str = '<i class="fa ';
		  if (j < rounded) {
			str += "fa-star";
		  } else if ((ratingValue - j) > 0 && (ratingValue - j) < 1) {
			str += "fa-star-half-o";
		  } else {
			str += "fa-star-o";
		  }
		  str += '" aria-hidden="true"></i>';
		  target.append(str);
		}
	}

	var list_price = '{{diamond.list_price}}';
	var market_price = '{{diamond.market_price}}';
	addBadge((market_price-list_price)/market_price*100, $('#marketPrice'));
	function addBadge(discount, target) {
		var badge = $('<span class="badge badge-pill"></span>').append('-'+discount.toFixed(2)+'%');
		if (discount >= 35) {
			$(badge).addClass("badge-danger")
		} else if (discount < 35 && discount > 20) {
			$(badge).addClass("badge-warning")
		} else {
			$(badge).addClass("badge-info")
		}
		target.append(badge);
	}
</script>
{% endblock %}