{% extends "base_layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .blog_details ul {
        list-style-type: disc;
        padding-inline-start: 40px;
    }
    .blog_right_sidebar .newsletter_widget .form-control {
        height: 42px;
    }
  </style>
{% endblock %}
{% block breadcrumb %}
<h1>Why Moments</h1>
<nav class="d-flex align-items-center">
	<a href="#">About Moments<span class="lnr lnr-arrow-right"></span></a>
	<a href="contact">Why Moments</a>
</nav>
{% endblock %}
{% block content %}
 {{ super() }}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=392951840745257&autoLogAppEvents=1"></script>
{% endblock %}

{% block body %}
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12 col-md-12 blog_details">
                            <h2>Why Moments</h2>
                            <p class="excert">
                                <strong>If you want to buy a diamond, choose us!</strong>
                            </p>
                            <p>
                                Being a diamond importer, distributor and exporter, we can offer various kinds of diamonds of different size, shape, color and clarity with competitive price to our customers. With our profession knowledge, our experienced merchandisers collect diamonds form different sources all over the world cater to satisfy our customers’ needs and demand. Before diamonds are introduced into our inventory, they must pass through a series of standard control and inspection from our Graduate Gemologists to ensure it meets our standard and guarantees our customers’ interest.
                            </p>
                            <p>
                                Our online inventory only contains Certify Diamonds certified by the world renowned laboratories, i.e. GIA (Gemology of Institute America), IGI (International Gemological Institute), HRD (Hoge Raad voor Diamant or Diamond High Council), and AGS (America Gem Society). However in our outlet you would also find a large variety of non-certified diamonds from 0.01 point to 0.99 point to match different kinds of jewelry designs and necessity. We are proud to say that we offer the greatest variety of diamonds to the public in Hong Kong.
                            </p>
                            <p>
                                Undoubtedly you would get the greatest benefit when spending your money with us because unlike others, we are the actual importer, wholesaler and manufacturer of diamonds and jewelry.
                            </p>
                        </div>
                        <!--<div class="col-lg-12">
                            <img class="img-fluid" src="static/img/info/cut-scale.jpg" alt="">
                        </div>-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Like Us in Facebook</h4>
                            <div class="fb-page" data-href="https://www.facebook.com/&#x6b63;&#x98a8;-&#x6211;&#x5011;&#x7684;&#x6392;&#x7403;&#x968a;-115956845122244/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/&#x6b63;&#x98a8;-&#x6211;&#x5011;&#x7684;&#x6392;&#x7403;&#x968a;-115956845122244/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/&#x6b63;&#x98a8;-&#x6211;&#x5011;&#x7684;&#x6392;&#x7403;&#x968a;-115956845122244/">正風 (我們的排球隊)</a></blockquote></div>
                        </aside>
                        <br>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Follow Us</h4>
                            <p>
                                Use your GIA report number to look up your report results.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="GIA Report No."
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'GIA Report No.'">
                                </div>
                                <a href="#" class="bbtns">Go</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Subscribe</h4>
                            <p>
                                Enter your email address to subscribe to this blog and receive notifications of new posts by email.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="Email Address"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                </div>
                                <a href="#" class="bbtns">Submit</a>
                            </div>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}

{% block script %}
  {{ super() }}
{% endblock %}