{% extends "base_layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
<style type="text/css">
    .important { color: #336699; }
</style>
  <script>
    $(document).ready(function() {
    $('#example').DataTable();
    jplist.init();
} );
  </script>

{% endblock %}
{% block content %}
<!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Amazing Diamonds</h1>
            <span class="color-text-a">Grid Diamonds</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Diamonds Grid
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Diamond Grid Star /-->
  <section class="property-grid grid">
    <div class="container">
        <div class="controls">
            <!-- pagination control -->
            <nav
                    data-jplist-control="pagination"
                    data-group="data-group-1"
                    data-items-per-page="4"
                    data-current-page="0"
                    data-disabled-class="disabled"
                    data-selected-class="active"
                    data-name="pagination1">

                <!-- first and previous buttons -->
                <ul class="pagination d-inline-flex">
                    <li class="page-item" data-type="first"><a class="page-link" href="#">«</a></li>
                    <li class="page-item" data-type="prev"><a class="page-link" href="#">‹</a></li>
                </ul>

                <!-- pages buttons -->
                <ul class="pagination d-inline-flex" data-type="pages">
                    <li class="page-item" data-type="page"><a class="page-link" href="#">{pageNumber}</a></li>
                </ul>

                <!-- next and last buttons -->
                <ul class="pagination d-inline-flex">
                    <li class="page-item" data-type="next"><a class="page-link" href="#">›</a></li>
                    <li class="page-item" data-type="last"><a class="page-link" href="#">»</a></li>
                </ul>

                <!-- items per page dropdown -->
                <div class="dropdown d-inline-flex ml-3"
                     data-type="items-per-page-dd"
                     data-opened-class="show">

                    <button
                            data-type="panel"
                            class="btn btn-primary dropdown-toggle"
                            type="button">
                        Dropdown button
                    </button>

                    <div
                            data-type="content"
                            class="dropdown-menu"
                            aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item" href="#" data-value="4">4 per page</a>
                        <a class="dropdown-item" href="#" data-value="8">8 per page</a>
                        <a class="dropdown-item" href="#" data-value="12">12 per page</a>
                        <a class="dropdown-item" href="#" data-value="0">View All</a>

                    </div>
                </div>

                <!-- information labels -->
                <span data-type="info" class="badge badge-secondary ml-3 p-2">
        Page {pageNumber} of {pagesNumber}
    </span>

            </nav>
        </div>
        <!-- content to filter -->
        <div class="row" data-jplist-group="data-group-1">

            {% for diamond in products[0:10] %}
            <div class="col-md-3" data-jplist-item>
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="static/img/diamond.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="#">{{ diamond.carat }} Carat
                                        <br/> {{ diamond.color }} Color {{ diamond.clarity }}</a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <span class="price-a">rent | $ 12.000</span>
                                </div>
                                <a href="property-single.html" class="link-a">Click here to view
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Cut</h4>
                                        <span>{{ diamond.cut }}</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Polish</h4>
                                        <span>{{ diamond.polish }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- no results control -->
            <div data-jplist-control="no-results" data-group="data-group-1" data-name="no-results">No Results Found
            </div>

        </div>
    </div>
</section>
<div class="">
    <div class="col-lg-12">
        <table id="example" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Carat</th>
                <th>Color</th>
                <th>Clarity</th>
                <th>Cut</th>
                <th>Shape</th>
                <th>Polish</th>
                <th>Symmetry</th>
                <th>Fluorescence</th>
                <th>Lab</th>
                <!--<th>Measurement Length</th>
                <th>Measurement Width</th>
                <th>Measurement Depth</th>
                <th>Table percent</th>
                <th>Crown angle</th>
                <th>Crown height percent</th>
                <th>Pavilion angle</th>
                <th>Pavilion depth precent</th>
                <th>Gridle thick</th>
                <th>Culet</th>
                <th>Total depth percent</th>-->
                <th>Cert no</th>
                <th>Unit Price</th>
            </tr>
            </thead>
            <tbody>
            {% for diamond in products[0:30] %}
            <tr>
                <td>{{ diamond.carat}}</td>
                <td>{{ diamond.color}}</td>
                <td>{{ diamond.clarity}}</td>
                <td>{{ diamond.cut}}</td>
                <td>{{ diamond.shape}}</td>
                <td>{{ diamond.polish}}</td>
                <td>{{ diamond.symmetry}}</td>
                <td>{{ diamond.fluorescence}}</td>
                <td>{{ diamond.lab}}</td>
                <!--<td>{{ diamond.measure_length}}</td>
                <td>{{ diamond.measure_width}}</td>
                <td>{{ diamond.measure_depth}}</td>
                <td>{{ diamond.table_percent}}</td>
                <td>{{ diamond.crown_angle}}</td>
                <td>{{ diamond.crown_height_percent}}</td>
                <td>{{ diamond.pavilion_angle}}</td>
                <td>{{ diamond.pavilion_depth_precent}}</td>
                <td>{{ diamond.gridle_thick}}</td>
                <td>{{ diamond.culet}}</td>
                <td>{{ diamond.total_depth_percent}}</td>-->
                <td>{{ diamond.cert_no}}</td>
                <td>{{ diamond.unit_price}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
  <!--/ Diamond Grid End /-->
{% endblock %}
